html {
    background: url("./background.svg");
    background-attachment: fixed;
    background-size: cover;
}

form .row {
    margin-top: 10px;
}

form .table {
    border: 1px soild black;
    padding: 25%;
}

body.container {
    background: transparent;
}